div(id="graph")
div(id="sidePanel")
	button(type="link" id="closePanel" class="close" aria-label="close")
	span(aria-hidden="true" ng-click="hidePanel()") &times;
	h3(style="color: #000") Datos de la persona
	form(name="edit-person")
		div(ng-switch="isEditable()" class="form-horizontal col-md-offset-1")
			button(type="link" class="btn btn-link col-md-offset-0" ng-switch-when="false" ng-click="enableEditForm()") Editar
			button(type="link" class="btn btn-link" ng-switch-when="true" ng-click="disableEditForm()") Cancelar
		div(id="alerts" class="alert alert-danger")
			h4 ERRORES EN LOS PARÁMETROS
			li(id="name") Nombre no introducido
			li(id="surnames") Apellidos no introducidos
			li(id="sex") Sexo no seleccionado
			li(id="birthDate") Fecha de nacimiento no introducida
			li(id="dates") La fecha de nacimiento es posterior a la fecha de defunción
			li(id="birthPlace") Ciudad de nacimiento no introducida
		div(class="form-group col-sm-12")
			label(for="name" class="col-sm-8 control-label") Nombre
			div(ng-switch="isEditable()" class="col-sm-8")
				span(ng-switch-when="false" id="name_data" class="form-control-static" ) {{data.name}}
				input(ng-switch-when="true" id="field_name" type="text" class="form-control" ng-model="data.name" placeholder="Nombre")
		div(class="form-group col-sm-12")
			label(for="surnames" class="col-sm-8 control-label") Apellidos
			div(ng-switch="isEditable()" class="col-sm-8")
				span(ng-switch-when="false" id="surnames_data" class="form-control-static") {{data.surnames}}
				input(ng-switch-when="true" id="field_surnames" type="text" class="form-control" ng-model="data.surnames" placeholder="Apellidos")
		div(class="form-group col-sm-12")
			label(for="sex" class="col-sm-8 control-label") Sexo
			div(ng-switch="isEditable()" class="col-sm-8")
				div(ng-switch-when="false" id="sex_data" ng-switch="data.sex")
					span(ng-switch-when="M" class="form-control-static") Hombre
					span(ng-switch-when="F" class="form-control-static") Mujer
				select(ng-switch-when="true" id="field_sex" class="form-control" ng-model="data.sex" placeholder="Sexo")
					option(value="M") Hombre
					option(value="F") Mujer
		div(class="form-group col-sm-12")
			label(for="birthDate" class="col-sm-8 control-label") Fecha de nacimiento
			div(ng-switch="isEditable()" class="col-sm-8")
				span(ng-switch-when="false" id="birthDate_data" class="form-control-static") {{data.birthDate | date: "dd/MM/yyyy"}}
				input(ng-switch-when="true" id="field_birthDate" type="date" ng-model="data.birthDate")
		div(class="form-group col-sm-12")
			label(for="deathDate" class="col-sm-8 control-label") Fecha de defunción
			div(ng-switch="isEditable()" class="col-sm-8")
				div(ng-switch-when="false" id="deathDate_data" ng-switch="isNull(data.deathDate)")
					span(ng-switch-when="true") En vida
					span(ng-switch-when="false" class="form-control-static") {{data.deathDate | date: "dd/MM/yyyy"}}
				input(ng-switch-when="true" id="field_deathDate" type="date" ng-model="data.deathDate")
		div(class="form-group col-sm-12")
			label(for="birthPlace" class="col-sm-8 control-label") Lugar de nacimiento
			div(ng-switch="isEditable()" class="col-sm-8")
				span(ng-switch-when="false" id="birthPlace_data" class="form-control-static") {{data.birthPlace}}
				input(ng-switch-when="true" id="field_birthPlace" type="text" class="form-control" ng-model="data.birthPlace" placeholder="Lugar de nacimiento")
		div(class="form-group col-sm-12")
			label(for="residPlaces" class="col-sm-8 control-label") Lugares de residencia
			div(ng-switch="isEditable()" class="col-sm-8" ng-repeat="place in data.residPlaces")
				span(ng-switch-when="false" id="residPlaces_data" class="form-control-static") {{place.placeName}}
				p()
				div(ng-switch-when="true")
					input(id="field_residPlaces_placeName" class="form-control" ng-model="place.placeName" placeholder="Lugar de residencia")
					input(id="field_residPlaces_timePeriod" class="form-control" ng-model="place.timePeriod" placeholder="Periodo de tiempo")
					button(id="deletePlace_button" class="btn btn-danger" ng-click="deletePlace(place.position)") Eliminar este lugar
			div(ng-switch="isEditable()")
				button(ng-switch-when="true" class="btn btn-success" ng-click="addPlace()") Añade un lugar más
		div(class="form-group col-sm-12")
			label(for="deathPlace" class="col-sm-8 control-label") Lugar de defunción
			div(ng-switch="isEditable()" class="col-sm-8")
				div(ng-switch-when="false" id="deathPlace_data" ng-switch="isNull(data.deathPlace)")
					span(ng-switch-when="true") En vida
					span(ng-switch-when="false" ) {{data.deathPlace}}
				input(ng-switch-when="true" id="field_deathPlace" type="text" class="form-control" ng-model="data.deathPlace" placeholder="Lugar de defunción")
		div(class="form-group" ng-switch="isEditable()")
			button(ng-click="editData()" ng-switch-when="true" class="btn btn-default") Editar datos