form(id="uploadForm" enctype="multipart/form-data" class='form-horizontal')
	input(id="file-field" ng-model="form.file" type="file")
	br
	input(ng-click="uploadFile()" value="Subir archivo" class="btn btn-default")