div.container
  div.row
    h1 Página de prueba del proyecto
    ul
      li
        a(href='/') Página principal
      li
        a(href='/add') Añadir una persona
      li
        a(href='/upload') Subir archivo GEDCOM

  form(id="uploadForm" action="/api/upload" method="POST")
    input(name="file_field" type="file")
    br
    input(type="submit" name="submit")

    script(src='/js/angular/angular.js')
    script(src='/js/app.js')
    script(src='/js/jquery-2.1.4.js')
    script(src='/js/controllers.js')
    script(src='/js/ng-file-upload/ng-file-upload-shim.js')
    script(src='/js/ng-file-upload/ng-file-upload.js')