extends layout

block content
  div.container
    div.row
      h1 Página de prueba del proyecto
      ul
        li
          a(href='/') Página principal
        li
          a(href='/add') Añadir una persona
    div(ng-view)

  script(src='/js/angular/angular.js')
  script(src='/js/app.js')
  script(src='/js/controllers.js')